@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 27, 77, 62;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes highlight {
  0% {
    background-color: rgba(255, 215, 0, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

.animate-highlight {
  animation: highlight 2s ease-out;
}
